policy_module(magnus, 1.100.1)

########################################
#
# Declarations
#

type magnus_t;
type magnus_exec_t;
init_daemon_domain(magnus_t, magnus_exec_t)

permissive magnus_t;

type magnus_initrc_exec_t;
init_script_file(magnus_initrc_exec_t)

type magnus_conf_t;
files_type(magnus_conf_t)

type magnus_var_lib_t;
files_type(magnus_var_lib_t)

type magnus_var_run_t;
files_type(magnus_var_run_t)

type magnus_port_t;
corenet_port(magnus_port_t)

########################################
#
# magnus local policy
#
allow magnus_t self:process { fork };

allow magnus_t self:fifo_file rw_fifo_file_perms;
allow magnus_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(magnus_t, magnus_conf_t, magnus_conf_t)
manage_files_pattern(magnus_t, magnus_conf_t, magnus_conf_t)

manage_dirs_pattern(magnus_t, magnus_var_lib_t, magnus_var_lib_t)
manage_files_pattern(magnus_t, magnus_var_lib_t, magnus_var_lib_t)
files_var_lib_filetrans(magnus_t, magnus_var_lib_t, { dir file })

manage_dirs_pattern(magnus_t, magnus_var_run_t, magnus_var_run_t)
manage_files_pattern(magnus_t, magnus_var_run_t, magnus_var_run_t)

sysnet_dns_name_resolve(magnus_t)
corenet_all_recvfrom_unlabeled(magnus_t)

allow magnus_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(magnus_t)
corenet_tcp_sendrecv_generic_node(magnus_t)
corenet_tcp_sendrecv_all_ports(magnus_t)
corenet_tcp_bind_generic_node(magnus_t)

gen_require(`
    type magnus_port_t;
')
allow magnus_t magnus_port_t:tcp_socket name_bind;

gen_require(`
    type magnus_port_t;
')
allow magnus_t magnus_port_t:tcp_socket name_connect;

domain_use_interactive_fds(magnus_t)

files_read_etc_files(magnus_t)

miscfiles_read_localization(magnus_t)

sysnet_dns_name_resolve(magnus_t)

allow magnus_t magnus_exec_t:file execute_no_trans;
allow magnus_t self:process setsched;
corecmd_exec_ls(magnus_t)
corenet_tcp_connect_http_port(magnus_t)
dev_read_urand(magnus_t)
fs_getattr_xattr_fs(magnus_t)
kernel_read_system_state(magnus_t)
